input.input-error,
select.input-error {
  border-color: none !important;
  border: 2px solid red !important;
  outline-color: red !important;
}

button:disabled {
  opacity: 0.35;
}

tr {
  cursor: pointer;
}
