body::-webkit-scrollbar {
  display: none;
}

.ag-theme-alpine {
  --ag-background-color: var(--app-component-bg);
  --ag-foreground-color: #fffff;
  --ag-odd-row-background-color: var(--app-component-bg);
  --ag-border-color: var(--app-component-table-border-color);
  --ag-header-background-color: var(--app-component-bg);
}

.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.label-gray {
  color: blue;
}
