.menu-link.active,
.menu-link:active {
  background-color: rgb(10, 230, 230) !important;
  /* background-color: var(--bs-dropdown-link-active-bg) !important; */
  color: #464646 !important;

  /* color: var(--bs-dropdown-link-active-color) !important; */
}

/* TODO var color -> not work */
/* asp template rule */
/* .dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
} */
